@charset "UTF-8";
@media screen {

    *{
        margin: 0px;
        padding: 0px;
    }

    @font-face {
        font-family: 'dream';
        src: url(fonte/dream\ orphanage\ rg.otf) format('opentype');
    } 

    :root{
        --cor1: #BDA899;
        --cor2: #BFB7AE;
        --cor3: #9C8F84;
        --cor4: #262321;
        --cor5: #38302A;
        --cor6: #756A62;
        --cor7: rgb(235, 233, 230);
    }

body{

    background-color: white;
}
header{
    font-family: 'dream';
    text-align: center;
    box-shadow: 1px 0.2px 1px black;
}
header > .titulo{
    padding: 50px;
    color: rgba(54, 54, 54, 0.712);
    font-size: 1.5em;
}

.titulo > p{
    color: var(--cor2);
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
}



}
