@charset "UTF-8";
@media screen {

    *{
        margin: 0px;
        padding: 0px;
    }

    @font-face {
        font-family: 'dream';
        src: url(fonte/dream\ orphanage\ rg.otf) format('opentype');
    } 

    :root{
        --cor1: #BDA899;
        --cor2: #BFB7AE;
        --cor3: #9C8F84;
        --cor4: #262321;
        --cor5: #38302A;
        --cor6: #756A62;
        --cor7: rgb(235, 233, 230);
    }

body{

    
}

 header{
    display: block;
    margin: auto;
    background-color: white;
    text-align: center;
}   
header > div > h1{
    font-family: 'dream';
    font-size: 4em;
}
header > div >  p{
    font-family: 'dream';
    font-size: 20px;
}
header > div  {
    text-align: center;
    background-color: var(--cor6);
    padding: 60px;
    
}
main {
    margin: auto;
    max-width: 850px;
    height: 95vh;
    background-color: white;
    box-shadow: 0px 0px 12px black;
}

main > span > h1{
    border: solid 1px black;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'dream';
}
 
main > span > img{
    border-radius: 5px;
    margin-left: 60px;
}




}
