@charset "UTF-8";
    @media screen and (min-width: 200px) and (max-width: 768px) {
        
    *{
        margin: 0px;
        padding: 0px; 
        scroll-behavior: smooth;
    }

    @font-face {
        font-family:'dream';
        src: url(fonte/dream\ orphanage\ rg.otf) format('opentype');
    } 

    :root{
        --cor1: #BDA899;
        --cor2: #BFB7AE;
        --cor3: #9C8F84;
        --cor4: #262321;
        --cor5: #38302A;
        --cor6: #756A62;
        --cor7: rgb(235, 233, 230);
    }

body{
    background-color: white;
    font-family: 'dream';
}

   

header{
    background-color: var(--cor3);
    font-family: 'dream';
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    z-index: 100;
}
 .titulo{
    padding-top: 15px;
    text-align: center;
    color: #262321b6;
    font-size: 1.5em;
    letter-spacing: 2px;

}

.titulo > h1 > p{
    color: var(--cor2);
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    
}

nav{
    padding-top: 15px;
    text-align: center;
}

 nav > a{
    font-family: 'dream';
    color: var(--cor4);
    text-decoration: none;
    margin-left: 15px;   

}
 nav > a:hover{
    transform: translate(-3px , -3px);
    text-shadow: 0px 1px 0px black;
}
.inicio{
    display: none;
}
aside {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden; /* Adicionado para esconder conteúdo adicional */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%; /* Garante que cada slide ocupe a largura total do contêiner */
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}


  #sobre{
    columns: 2;
  }
/* styles.css */
.container {
    text-align: center;
    position: relative;
}

#imagem-luana {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;

}
#sobre > .imgDesktop{
    display: none;
}

#text {
    display: none;
    text-align: center;
    position: relative;
    top: 145px;
    height: 280px;
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    margin: 10px auto;
}


  #sobre > .textDesktop{
    display: none;
  }
  
#sobre{
    padding-top:124px ;
}

#sobre > img{
    display: block;
    margin: auto;
    padding-bottom: 50px;
    width: 90vw;
}



 .imagem-grande , .navegacao{
    display: none;
}

#img{
    
    display: flex;
    flex-direction: column;
    
}

#img > h1{
    text-align: center;
    font-family: 'dream';
}

#img > img{
    padding: 10px;
    display: block;
    margin: auto;
  
    
}
 .miniaturas > img{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 40vw;

}

.miniaturas > h1{
    text-align: center;
}

#coments{
    text-align: center;
    padding-top: 30px;
}
#coments > h1{
    padding-bottom: 20px;
}

.tituloContato{
    text-align: center;
    font-family: 'dream';
    padding: 50px 10px 40px 10px;
}

#contato {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding-bottom: 60px ;
    font-family: 'dream';

}
#contato > .q1 , .q2{
    width: 95%;
    text-align: center;
    border-radius: 10px;
}

#contato > .q1{
    border-radius: 10px;
}
#contato > .q2{
    margin-left: 10px;
    background-color: #f2f2f2;
    
}
#contato > .q2 > h1{
    padding-top: 10px;
    padding-bottom: 20px;
}
#contato > .q2 > a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 10px;
}
#contato > .q2 > a:hover{
    text-decoration: underline;
    color: var(--cor5);

}
#contato > .q2 > a > .img1{
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid black;
    padding: 10px;
    width: 40px;
}


#contato > h1{
    font-family: 'dream';
    margin-top: 60px;
    background-color:white;
    font-size: 2em;
    text-align: center;
}

/* Estilo para o formulário */
form {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 3px;
    padding: 10px;
  }
  
  /* Estilo para os campos de entrada de texto */
  input[type="text"],

  textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilo para os rótulos dos campos */
  label {
    font-weight: bold;
    display: block;
  }
  
  /* Estilo para o botão de envio */
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }

#localizacao{
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 20px;
}
#localizacao > h1{
    font-family: 'dream';
    margin-bottom: 15px;
}
#localizacao > iframe{
    width: 400px;
    height: 500px;

}

footer{
    font-size: 13px;
    columns: 2;
    padding: 30px;
}
footer > .box{
    position: relative;
    top: 4px;
    left: 20px;
    font-size: 12px;
}
.rotated-icon {
    transform: rotate(180deg);
}
footer > .box > span , #ultimalua , h1{
    font-size: 23px;
}
footer > .box2{
    display: none;
}
footer > .boxMobile{
    font-size: 13px;
    text-align: center;
    font-family: 'dream';

    position: relative;
    left: 0px;
    top: 10px;
}

.forTopo{
    background-color: gray;
    text-align: center;
    margin: auto;
    display: block;
}

aside > .forTopo  {
    text-decoration: none;
    color: white;
    font-family: 'dream';
}
aside > .forTopo:hover{
    text-decoration: underline;
}


}

