@charset "UTF-8";
    @media screen and (min-width:767px) and (max-width: 2000px) {
        
    *{
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;

    }

    @font-face {
        font-family: 'dream';
        src: url(fonte/dream\ orphanage\ rg.otf) format('opentype');
    } 

    :root{
        --cor1: #BDA899;
        --cor2: #BFB7AE;
        --cor3: #9C8F84;
        --cor4: #262321;
        --cor5: #38302A;
        --cor6: #756A62;
        --cor7: rgb(235, 233, 230);
    }
    #container {
        width: 100%; /* Define a largura do container para 100% da largura da tela */
        overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
        white-space: nowrap; /* Impede que os elementos quebrem em várias linhas */
        position: relative; /* Adicione essa propriedade se necessário */
      }
      
    
body{
    background-color: white;
   
    
}


body , html{
    scroll-behavior: smooth;
    
}
header{
    background-color: white;
    font-family: 'dream';
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    height: 150px;
   
}
/* Nova classe para o cabeçalho quando a rolagem começar */
.scrolled {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.95); /* Deixa com um fundo para se destacar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    padding-left: 25px;

}

.scrolled .titulo { /* Diminui o tamanho da fonte do título */
    text-align: left;
    font-size: 10px;
    

    
    
}

.scrolled .subtitulo {
    font-size: 13px; /* Diminui o tamanho da fonte do subtítulo */
    text-align: left;

}

.scrolled .MenuNav{
    font-size: 15px;
    margin-top: -70px;
    font-family: "Darker Grotesque";
}
 .titulo{
    text-align: center;
    color: #262321b6;
    font-size: 18px;
    letter-spacing: 2px;

}

.titulo > h2{
    color: var(--cor2);
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    
}

nav{
    margin-top: 80px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-family: "Darker Grotesque";
    
}

 nav > a{
    font-family: 'dream';
    color: var(--cor4);
    text-decoration: none;
    margin-left: 15px;   

}
 nav > a:hover{
    transform: translate(-3px , -3px);
    text-shadow: 0px 1px 0px black;
}
.inicio{
    text-align: center;
    margin-bottom: 40px;
}
.inicio > .fotoMobile{
    display: none;
}
.carousel-container{
    display: none;
}

#sobre{
    padding: 130px;
    columns: 2;
    background-color: var(--cor1);
    text-align: center;
}

#sobre >  .textDesktop > img{
    width: 530px;
    border-radius: 10px 10px 10px 10px;
}

#sobre > .textDesktop > h1{
    font-family: 'dream';
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    padding-top: 70px;
}
#sobre > .textDesktop > .hidden {
    font-family: 'dream';
    font-size: 21px;
    white-space: normal;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 77px; 
   padding-top:20px ;
    
}
#sobre > .container , .arrow , .text  , .imgContainer{
    display: none;
}
/* Estilo do contêiner do carrossel */
#carrossel {
    max-width: 1200px; /* Largura máxima do carrossel */
    margin: 0 auto; /* Centralizar o carrossel horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #f0f0f0; /* Cor de fundo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo da imagem grande */
.imagem-grande {
    text-align: center;
    padding: 20px;
}

/* Estilo das miniaturas */
.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre as miniaturas */
    padding: 10px;
}

.miniaturas img {
    max-width: 100px; /* Largura máxima das miniaturas */
    cursor: pointer; /* Mostrar cursor de ponteiro ao passar o mouse */
    transition: opacity 0.3s ease; /* Efeito de transição de opacidade */
}

.miniaturas img:hover {
    opacity: 0.7; /* Opacidade reduzida ao passar o mouse */
}
.miniaturas > h1{
    display: none;
}
/* Estilo das setas de navegação */
.navegacao {
    text-align: center;
    margin-top: 10px;
}

.seta-esquerda, .seta-direita {
    font-size: 24px; /* Tamanho da fonte das setas */
    cursor: pointer;
    padding: 10px;
    background-color: #333; /* Cor de fundo das setas */
    color: #fff; /* Cor do ícone das setas */
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

.seta-esquerda:hover, .seta-direita:hover {
    background-color: #555; /* Cor de fundo das setas ao passar o mouse */
}

#coments{
    text-align: center;
    padding-top: 40px;
    
}

#coments > h1{
    font-family: 'dream';
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 2em;

}
#coments > img{
    margin: 15px;
}
.imgAvaliação{
    border: 1px black solid;
}

.tituloContato{
    text-align: center;
    font-family: 'dream';
    padding: 50px 10px 40px 10px;
}

#contato {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 60px ;
    font-family: 'dream';

}
#contato > .q1 , .q2{
    width: 48%;
}

#contato > .q2{
    margin-left: 100px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;

    
}
#contato > .q2 > a{
    padding-top: 15px;
    text-decoration: none;
    color: black;
}

#contato > .q2 > a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

#contato > .q2 > span > a > .img1{
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid black;
    padding: 10px;
}

#contato > h1{
    font-family: 'dream';
    margin-top: 60px;
    background-color:white;
    font-size: 2em;
    text-align: center;
}

#contato > .q2 > h1{
    padding-bottom: 20px;
}

#contato > .q2 > h2{
    padding-bottom: 15px;
}

/* Estilo para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 3px;
  }
  
  /* Estilo para os campos de entrada de texto */
  input[type="text"],

  textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilo para os rótulos dos campos */
  label {
    font-weight: bold;
    display: block;
  }
  
  /* Estilo para o botão de envio */
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }

#serviços{
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 20px;
    background-color: var(--cor2);
}
#serviços > h1{
    font-family: 'dream';
    margin-bottom: 15px;
    font-size: 2em;

}
#localizacao > iframe{
    width: 1150px;
    height: 505px;
    border-radius: 5px;

}

footer{
    height: 140px;
    text-align: center;
    margin-top: 15px;
}
footer > .box{
   text-align: center;
}

footer > .box > h1 {
   font-family: 'dream';
   color: var(--cor4);
   font-size: 20px;
   padding-left: 7px;

}
.rotated-icon {
    transform: rotate(180deg);
}

footer > .box2{
    text-align: center;
    font-family: 'dream';
}
footer > .boxMobile{
    display: none;
}
  
footer > .box > .material-symbols-outlined{
    text-align: center;
}

.forTopo{
    background-color: gray;
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'dream';
}

article > .forTopo:hover{
    text-decoration: underline;
}

}



